<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Mushroom's Data</h1>
  <div class="card">
    <p>
      What
     <%= content %>
    </p>
  </div>
  <p class="user">
   
  </p>
</body>

</html>